AUTH_APP_NAME=auth-service
AUTH_PORT=8000
ENV=development

JWT_SECRET=change-me-in-env
JWT_ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

USER_SERVICE_URL=http://users-service:8000
USER_LOOKUP_PATH=/user/
HTTP_TIMEOUT=5

AUTH_DEV_USER_ID=1
AUTH_DEV_USER_EMAIL=admin@example.com
AUTH_DEV_USER_NAME=admin
AUTH_DEV_USER_PASSWORD=admin123
AUTH_DEV_USER_ROLE=admin
