ENV=development

JWT_SECRET=change-me-in-root-env
JWT_ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

AUTH_PORT=8000
USER_SERVICE_URL=http://users-service:8000
USER_LOOKUP_PATH=/user/
HTTP_TIMEOUT=5

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
USERS_POSTGRES_DB=usersdb
AGENDA_POSTGRES_DB=agendadb
OPENFGA_POSTGRES_DB=openfga
OPENFGA_API_URL=http://openfga:8080
OPENFGA_STORE_NAME=agendamento-medico
OPENFGA_ENABLED=true
OPENFGA_AUTHZ_FAIL_OPEN=false
OPENFGA_WAIT_TIMEOUT_SECONDS=60

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=agenda.events
USER_EVENTS_EXCHANGE=users.events
AGENDA_USER_EVENTS_QUEUE=agenda.user-events
USER_DOCTOR_CREATED_ROUTING_KEY=users.doctor.created
USER_PATIENT_CREATED_ROUTING_KEY=users.patient.created
USER_DOCTOR_DELETED_ROUTING_KEY=users.doctor.deleted
USER_PATIENT_DELETED_ROUTING_KEY=users.patient.deleted
AGENDA_REDIS_URL=redis://agenda-redis:6379/0
AGENDA_CLIENT_TIMEOUT_SECONDS=3
PROMETHEUS_URL=http://prometheus:9090
DD_API_KEY=
DD_SITE=datadoghq.com
DD_APM_ENABLED=true
DD_APM_NON_LOCAL_TRAFFIC=true
DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
DD_LOGS_ENABLED=true
DD_TRACE_ENABLED=false
DD_SERVICE=agenda-service
DD_ENV=development
DD_VERSION=0.1.0
DD_AGENT_HOST=datadog
DD_TRACE_AGENT_PORT=8126
