ANALYTIC_APP_NAME=analytic-service
ANALYTIC_PORT=8005
ENV=development

PROMETHEUS_URL=http://prometheus:9090
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_PROM_EXPORTER_PORT=9464
